/*
  1. opacity (font-01 ... font-1)
  2. font size (font-12 ... font-20 ... font-50)
  3. font-weight (font-200 ... font-900)
  4. text-align (text-center, text-right, text-left)
  5. line-height (lh-12 ... lh-24 ... lh-36)
  6. border-radius (br-3,5,10,15,20,25,100)
 */

.font-1{opacity: 1!important;}
.font-09{opacity: .9!important;}
.font-08{opacity: .8!important;}
.font-07{opacity: .7!important;}
.font-06{opacity: .6!important;}
.font-05{opacity: .5!important;}
.font-04{opacity: .4!important;}
.font-03{opacity: .3!important;}
.font-02{opacity: .2!important;}
.font-01{opacity: .1!important;}

.font-50{font-size: 50px!important;}
.font-40{font-size: 40px!important;}
.font-38{font-size: 38px!important;}
.font-36{font-size: 36px!important;}
.font-34{font-size: 34px!important;}
.font-32{font-size: 32px!important;}
.font-30{font-size: 30px!important;}
.font-28{font-size: 28px!important;}
.font-26{font-size: 26px!important;}
.font-24{font-size: 24px!important;}
.font-22{font-size: 22px!important;}
.font-20{font-size: 20px!important;}
.font-18{font-size: 18px!important;}
.font-16{font-size: 16px!important;}
.font-15{font-size: 15px!important;}
.font-14{font-size: 14px!important;}
.font-13{font-size: 13px!important;}
.font-12{font-size: 12px!important;}

.font-900{font-weight: 900!important;}
.font-800{font-weight: 800!important;}
.font-700{font-weight: 700!important;}
.font-600{font-weight: 600!important;}
.font-500{font-weight: 500!important;}
.font-400{font-weight: 400!important;}
.font-300{font-weight: 300!important;}
.font-200{font-weight: 200!important;}

.text-center{text-align: center!important;}
.text-right{text-align: right!important;}
.text-left{text-align: left!important;}

.lh-12{line-height: 12px;}
.lh-14{line-height: 14px;}
.lh-16{line-height: 16px;}
.lh-18{line-height: 18px;}
.lh-20{line-height: 20px;}
.lh-22{line-height: 22px;}
.lh-24{line-height: 24px;}
.lh-26{line-height: 26px;}
.lh-28{line-height: 28px;}
.lh-30{line-height: 30px;}
.lh-32{line-height: 32px;}
.lh-34{line-height: 34px;}
.lh-36{line-height: 36px;}

.br-3{border-radius: 3px;}
.br-5{border-radius: 5px;}
.br-10{border-radius: 10px;}
.br-15{border-radius: 15px;}
.br-20{border-radius: 20px;}
.br-25{border-radius: 25px;}
.br-100{border-radius: 100%;}

$spaceamounts: (0, 3, 5, 7, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100, -10, -15, -20, -30); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.c--main-red {
  color: var(--main-red)!important;
}
.c--main-grey {
  color: var(--main-grey)!important;
}
.c--main-black {
  color: var(--main-black)!important;
}